doctype html
html
  head
  body
    form(method='POST' action='/')
      div
        label(for='name') Name:
        input(type='name', placeholder='Name' name='name')
      div
        label(for='username') Username:
        input(type='text', placeholder='Username' name='username')
      div
        label(for='pwd') 
        input(type='text', placeholder='Pwd' name='pwd')
      button(type='submit') Add

